/* Application.module.css */
html,
body {
  margin: 0;
  padding: 0;
}

.selectedRow {
  background-color: #e79e2f !important;
  color: white !important;
}

.textWrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.header {
  height: 100px;
  width: 100%;
  background: #d54728;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  padding: 0px;
  margin: 0px;
}

.title {
  color: #d54728;
  font-size: 32px;
  margin: 10px 0px;
}

.gutter16 {
  padding: 10px 0px;
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
}

.contentWrapper {
  width: 48%;
  min-height: 500px;
  background: #ffffff;
  padding: 20px;
}

.smallTitle {
  font-size: 15px;
  margin-bottom: 20px;
}

.queryButton {
  background: #d54728;
  border-color: #d54728;
  margin-right: 10px;
}

.resetButton {
  color: #d54728;
  border-color: #d54728;
}

.contentStyle {
  padding: 24px;
  margin: 0;
  min-height: 280;
  background: #f0f2f5;
}

.plusButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.registerButton {
  background-color: #d54728;
  border-color: #d54728;
}

.formBackground {
  background: #ffffff;
  padding: 20px;
}

.gutter16 {
  padding: 10px 0px;
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
}

.contentWrapper {
  width: 48%;
  min-height: 500px;
  background: #ffffff;
  padding: 20px;
}

.smallTitle {
  font-size: 15px;
  margin-bottom: 20px;
}

.queryButton {
  background: #d8d6d5;
  border-color: #d8d6d5;
  margin-right: 10px;
}

.contentStyle {
  padding: 24px;
  margin: 0;
  min-height: 280;
  background: #f0f2f5;
}

.button_wrapper {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 4%;
  height: 500px;
  font-size: 20px;
}
.button_space {
  height: 10px;
}

.searchIcon:hover {
  color: #d54728;
}

.searchIcon:active {
  color: #d54728;
}
.headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #d54728;
}
.headerRightTop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #d54728;
}
.headerRightTopLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 50px;
  background: #d54728;
}
.headerRightTopRightText {
  color: #ffffff;
  margin-right: 20px;
}
.headerRightTopRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: 50px;
  background: #d54728;
}
.headerRightTopRightButton {
  background-color: #d54728;
  color: #ffffff;
  border-color: #f5f2f17e;
  margin-right: 20px;
}
.headerRightBottomText {
  color: #ffffff;
  margin-right: 20px;
}

Button:hover {
  background-color: #d54728 !important;
  color: #ffffff;
  border-color: #ffffff;
}
Button:active {
  background-color: #d54728;
  color: #ffffff;
  border-color: #ffffff;
}
